.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid brown;
    border-radius: 25px;
    font-family: cursive;
    margin: 15px 15px;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 5px grey;
}
.card-img-top {
    margin-top: 10px;
    border: 5px solid brown;
    width: 70%;
    border-radius: 30px;
}
.card-title{
    font-weight: bold;
}